.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section {
  position: relative;
  margin: 2em; /* Adjust the margin between sections */
}

.separator {
  margin: 0;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.vertical-line {
  height: 1000px;
  width: 3px;
  background-color: #ddd;
  margin: 0 auto;
  z-index: 2;
}

.icon-container-next,
.icon-container-prev {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: 0.5s ease;
  z-index: 2;
}

.icon-container-next {
  margin-left: -22px;
  margin-top: -40px;
}

.icon-container-next:hover {
  transform: translateY(10%) scale(1.2);
}

.icon-container-prev {
  margin-left: -40px;
  margin-top: 1000px; /* Adjust the margin-top to align with the bottom of the vertical line */
}

.icon-container-prev:hover {
  transform: translateY(10%) scale(1.2);
}

.content {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  white-space: pre-wrap;
  padding: 10px;
  z-index: 1;
}

h3 {
  margin: 0;
}

.resume {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -50px;
}

.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.projects {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
  z-index: 2;
}

.project {
  z-index: 2;
  transition: 5s ease;
}

.project:hover {
  transform: scale(1.1);
}

.code {
  color: gold;
  line-height: 200%;
  margin-top: -30px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em;
  margin-bottom: -10px;
  text-align: center;
}

.about-text {
  font-family: "Arial", sans-serif;
  line-height: 2;
  margin-left: 0;
}

.nav {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  margin: 20px;
  display: flex;
  flex-direction: row;
}

.nav-item {
  margin-right: 10px;
  cursor: pointer;
  color: rgb(255, 255, 255); /* Default text color */
  font-style: normal; /* Reset font style */

  /* Add transition for smooth style changes */
  transition: color 0.3s, font-style 0.3s;
}

.tech-icons {
  margin-right: 10px;
  margin-bottom: 5px;
  width: 40px;
}

/* Style for the active section */
.nav-item.active {
  color: #ffffff; /* Change text color for active section */
  font-style: italic; /* Apply italic style for active section */
}

.nav-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: white;
  font-style: italic;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 0; /* Place the particles behind other elements */
}

.hidden-btn {
  z-index: 1;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: fixed;
  left: 0;
  background: none;
  border: none;
}
