body {
  margin: 0;
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: "Arial", sans-serif;
  background: linear-gradient(45deg, rgb(13, 8, 51), rgb(32, 19, 131));
  animation: gradientAnimation 5s ease infinite;
}
/* rgb(13, 8, 51) */

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}